* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: end;
  justify-self: center;

}

.game-board {
  width: 100%;
  height: 100%;
  border-bottom: 50px rgb(0, 167, 0) solid;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background: linear-gradient(#87CEEB, #E0F6FF);
}

.pipe {
  position: absolute;
  width: 80px;
  bottom: 0;
  animation: pipe-animation 2s linear infinite;
}

@keyframes pipe-animation {
  from {
    right: -80px;
  }
  to {
    right: 100%;
  }
}

.mario {
  position: absolute;
  width: 150px;
  bottom: 0;
  left: 50px;
}

.jump {
  animation: mario-jump 800ms ease-out;
}

@keyframes mario-jump {
  0% {
    bottom: 0;
  }
  40% {
    bottom: 150px;
  }
  50% {
    bottom: 160px;
  }
  60% {
    bottom: 150px;
  }
  100% {
    bottom: 0;
  }
}

.clouds {
  position: absolute;
  width: 600px;
  margin-top: 10px;
  animation: clouds-animation 8s linear infinite;
}

@keyframes clouds-animation {
  from {
    right: -800px;
  }
  to {
    right: 100%;
  }
}
